@import url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

//colors
$color_lemon_ginger_approx: #9e9c2b;
$cod_gray: #0b0b0b;
$color_blue_chill_approx: #0b97a0;

//fonts
$font_0: 'Press Start 2P';
$font_1: 'Arial';
$font_2: 'Helvetica';
$font_3: 'sans-serif';

@keyframes slidein {
  from {
    opacity: 0.1;
    margin-left: 100%;
    width: 300%;
  }
  to {
    opacity: 1;
    margin-left: 0;
    width: 100%;
  }
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: $cod_gray;
  border-bottom: 5px dotted $color_lemon_ginger_approx;

  a {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: font-weight 0.67s ease, opacity 0.67s ease;
    display: flex;
    align-items: flex-start;
    padding: 1.25rem 0.5rem;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.425;

    &:hover {
      opacity: 0.735;

      programmer-per-icon {
        opacity: 0.735;
      }
    }

    &:focus {
      opacity: 1;
      font-weight: 100;

      programmer-per-icon {
        opacity: 1;
      }
    }
  }

  programmer-per-icon {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: opacity 0.67s ease;
    width: 1rem;
    height: 1rem;
    margin-right: 0.7rem;
    opacity: 0;
  }

  span {
    font-family: $font_0, $font_1, $font_2, $font_3;
    font-weight: 400;
    font-size: 1rem;
  }
}


/* Media */
@media(min-width: 701px) {
  nav {
    animation-duration: 3s;
    animation-name: slidein;
  }

  .hamburger-checkbox, .hamburger-label {
    display: none;
  }
}

@media(max-width: 700px) {

  nav {
    overflow: hidden;
    width: 0;
    height: 0;
    transition: all .3s;

    a {
      justify-content: center;
    }
  }

  section {
    margin-top: 3.5rem;
  }

  .hamburger-checkbox {
    position: absolute;
    opacity: 0;
  }

  .hamburger-label {
    transition: all cubic-bezier(0.22, 0.61, 0.36, 1) 0.5s;
    position: absolute;
    z-index: 1;
    display: block;
    width: 3rem;
    height: 3rem;
    font-size: 42px ;
    font-family: fontawesome;
    cursor: pointer;
  }

  .hamburger-checkbox:checked ~ .hamburger-label {
    transform: rotate(90deg);
    color: white;
  }

  .hamburger-checkbox:checked ~ nav {
    //flex-wrap: wrap;
    flex-direction: column;
    width: 66%;
    height: auto;
    border-right: 5px dotted $color_lemon_ginger_approx;
  }


}

/* Manipulation */
$colors: (
        Home: #f20012,
        Per: #00a9ff,
        Portfolio: #ecff00,
        Social: #ff00e7,
        Cv: #eef3ed,
        Skills: #00ff04,
        Blog: #ff8a00
);

@each $pointer, $c in $colors
{
  .#{$pointer} {
    color: $c;
  }
}