nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: #0b0b0b;
    border-bottom: 5px dotted #9e9c2b;
}

nav a {
    transition: color 0.67s ease, font-weight 0.67s ease;
    display: flex;
    align-items: flex-start;
    padding: 1.25rem 0.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #b5b5b5;
}

nav a:hover {
    color: #42b4d3;
}
nav a:focus {
    color: #0b97a0;
    font-weight: 900;
}

nav programmer-per-icon {
    transition: color 0.67s ease;
    color: #0b0b0b;
    width: 1rem;
    height: 1rem;
    margin-right: 0.7rem;
}

nav a:focus programmer-per-icon{
    color: #a7a612;
}

nav a:hover programmer-per-icon {
    color: #fbff59;
}

nav span {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

/* TODO: transitions */

/* TODO: Off canvas menu + make work */
@media (max-width: 700px) {
    nav {
        width: 200px;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
